.body {
  margin: 0;
}

.wrapper {
  margin: auto;
  width: 80%;
}

.header {
  display: flex;
  justify-content: space-between;
}

.hamburger-menu {
  display: none;
}

.logo {
  position: relative;
  padding: 40px 0;
  padding-left: 47px;
  font: 700 24px/31.8px 'pt_serif', arial, helvetica, sans-serif;
}

.logo__circle {
  position: absolute;
  left: 4px;
  top: 50%;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  opacity: .7;
}

.logo__circle_color_dark-blue {
  background: #0056EC;
}

.logo__circle_color_blue {
  left: 12px;
  top: 56%;
  background: #C8DBFB;
}

.logo, .menu {
  display: inline-block;
}

.menu {
  display: flex;
  margin-top: 47px;
  margin-right: 9px;
}

.menu__item {
  position: relative;
  margin-right: 27px;
  font: 500 18px/21px 'Roboto', arial, helvetica, sans-serif;
  color: #000;
  text-decoration: none;
  transition: opacity .5s;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__item:after {
  position: absolute;
  left: 0;
  display: block;
  content: '';
  width: 0;
  height: 3px;
  background: #0056EC;
  transition: opacity .5s, width .5s;
}

.menu__item:hover {
  opacity: 0.5;
}

.menu__item:hover:after,.menu__item_active:after {
  opacity: 1;
  width: 100%;
}

.main {
  margin-top: 133px;
  height: 657px;
  background: top right 5px no-repeat url(img/mainlmg_1920.svg);
  overflow: hidden;
}

.main__title {
  margin: 70px 0px 40px 1px;
  font: 700 66px/87.45px 'pt_serif', arial, helvetica, sans-serif;
  width: 567px;
}

.main__title-text_highlight {
  background: #ECF3FF;
}

.main__subtitle {
  margin: 0 0 41px 4px;
  font: 400 22px/25.78px 'Roboto', arial, helvetica, sans-serif;
  width: 455px;
}

.main__button {
  display: inline-block;
  margin-left: 4px;
  font: 500 18px/21px 'Roboto', arial, helvetica, sans-serif;
  color: #fff;
  background: #0056EC;
  padding: 18px .25px 10px 21px;
  width: 250px;
  height: 29px;
  text-decoration: none;
  border-radius: 4px;
  transition: opacity .5s;
}

.main__button:hover {
  opacity: .5;
}

.header__burger {
display: none;
}

.circles {
  display: flex;
  justify-content: center;
  margin-top: 133px;
}

.circles__circle {
  width: 8px;
  height: 8px;
  background: #c8dbfb;
  opacity: 0.7;
  border-radius: 50%;
}

.circles__circle:nth-child(2) {
  margin: 0 4px;
}

@keyframes main__button {
  from {
    transform: scale(0.9);
  }

  50% {
    transform: scale(1);
  }

  to {
    transform: scale(0.9);
  }
}

.circles {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.circles__circle {
  width: 8px;
  height: 8px;
  background: #c8dbfb;
  opacity: 0.7;
  border-radius: 50%;
}

.circles__circle:nth-child(2) {
  margin: 0 4px;
}

#menu__toggle {
  opacity: 0;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 27px;
  right: 24px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 2;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #0056EC;
  transition-duration: 0.25s;
}

.menu__btn > span::before {
  content: '';
  top: -8px;
}

.menu__btn > span::after {
  content: '';
  top: 8px;
}

.menu__box {
  display: flex;
  position: fixed;
  top: 0;
  visibility: hidden;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 176px 0;
  list-style: none;
  background-color: #fff;
  transition-duration: 0.25s;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
  z-index: 1;
}

.menu__box__item {
  display: block;
  padding: 13px 24px;
  color: #333;
  font: 600 30px/34px 'Roboto', sans-serif;
  text-decoration: none;
  transition-duration: 0.25s;
  margin-right: 4px;
  letter-spacing: 0.1px;
}

.menu__box__item:hover {
  background-color: #cfd8dc;
}

.menu__box li:last-child .menu__box__item {
  margin-right: 7px;
}

.menu__box li:nth-child(-n+2) .menu__box__item {
  margin-right: 3px;
}

.menu__box__item:hover {
  background-color: #cfd8dc;
}

@media (max-width: 1366px) {
  .body {
    margin: 0;
  }

  .wrapper {
    margin: auto;
    width: 68%;
  }

  .header {
    display: flex;
    justify-content: space-between;
  }

  .logo {
    position: relative;
    padding: 40px 0;
    padding-left: 44px;
    font: 700 24px/32px 'pt_serif', arial, helvetica, sans-serif;
  }

  .logo__circle {
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    width: 28px;
    height: 28px;
    border-radius: 50%;
    opacity: .7;
  }

  .logo__circle_color_dark-blue {
    background: #0056EC;
  }

  .logo__circle_color_blue {
    left: 8px;
    top: 56%;
    background: #C8DBFB;
  }

  .logo, .menu {
    display: inline-block;
  }

  .menu {
    display: flex;
    margin-top: 52px;
    margin-right: 3.5px;
  }

  .menu__item {
    position: relative;
    margin-right: 27px;
    font: 500 14px/16px 'Roboto', arial, helvetica, sans-serif;
    color: #000;
    text-decoration: none;
    transition: opacity .5s;
  }

  .menu__item:last-child {
    margin-right: 0;
  }

  .menu__item:after {
    position: absolute;
    left: 0;
    display: block;
    content: '';
    width: 0;
    height: 2px;
    background: #0056EC;
    transition: opacity .5s, width .5s;
  }

  .menu__item:hover {
    opacity: 0.5;
  }

  .menu__item:hover:after,.menu__item_active:after {
    opacity: 1;
    width: 100%;
  }

  .main {
    margin-top: 84px;
    height: 439px;
    background: top right no-repeat url(img/mainlmg_1366.svg);
    overflow: hidden;
  }

  .main__title {
    margin: 16px 0 38px 0;
    font: 700 50px/66px 'pt_serif', arial, helvetica, sans-serif;
    width: 434px;
  }

  .main__title-text_highlight {
    background: #ECF3FF;
  }

  .main__subtitle {
    margin: 0 0 41px 0;
    font: 500 18px/21px 'Roboto', arial, helvetica, sans-serif;
    width: 367px;
  }

  .main__button {
    display: inline-block;
    margin: 0;
    font: 500 14px/16px 'Roboto', arial, helvetica, sans-serif;
    color: #fff;
    background: #0056EC;
    padding: 14px 25px 13px 16px;
    width: 168px;
    height: 17px;
    text-decoration: none;
    border-radius: 4px;
    transition: opacity .5s;
  }

  .main__button:hover {
    opacity: .5;
  }

  .circles {
    display: flex;
    justify-content: center;
    margin-top: 88px;
  }

  .hamburger-menu {
    display: none;
  }

@media (max-width: 1024px) {
  .body {
    margin: 0;
  }

  .wrapper {
    margin: auto;
    width: 91%;
  }

  .header {
    display: flex;
    justify-content: space-between;
  }

  .logo {
    position: relative;
    padding: 40px 0;
    padding-left: 44px;
    font: 700 24px/32px 'pt_serif', arial, helvetica, sans-serif;
  }

  .logo__circle {
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    width: 28px;
    height: 28px;
    border-radius: 50%;
    opacity: .7;
  }

  .logo__circle_color_dark-blue {
    background: #0056EC;
  }

  .logo__circle_color_blue {
    left: 8px;
    top: 56%;
    background: #C8DBFB;
  }

  .logo, .menu {
    display: inline-block;
  }

  .menu {
    display: flex;
    margin-top: 52px;
    margin-right: 1px;
  }

  .menu__item {
    position: relative;
    margin-right: 27px;
    font: 500 14px/16.41px 'Roboto', arial, helvetica, sans-serif;
    color: #000;
    text-decoration: none;
    transition: opacity .5s;
  }

  .menu__item:last-child {
    margin-right: 0;
  }

  .menu__item:after {
    position: absolute;
    left: 0;
    display: block;
    content: '';
    width: 0;
    height: 2px;
    background: #0056EC;
    transition: opacity .5s, width .5s;
  }

  .menu__item:hover {
    opacity: 0.5;
  }

  .menu__item:hover:after,.menu__item_active:after {
    opacity: 1;
    width: 100%;
  }

  .main {
    margin-top: 83px;
    height: 439px;
    background: top right no-repeat url(img/mainlmg_1366.svg);
    overflow: hidden;
  }

  .main__title {
    margin: 17px 0 38px 0;
    font: 700 50px/66px 'pt_serif', arial, helvetica, sans-serif;
    width: 434px;
  }

  .main__title-text_highlight {
    background: #ECF3FF;
  }

  .main__subtitle {
    margin: 0 0 42px 0;
    font: 500 18px/21px 'Roboto', arial, helvetica, sans-serif;
    width: 367px;
  }

  .main__button {
    display: inline-block;
    margin: 0;
    font: 500 14px/16px 'Roboto', arial, helvetica, sans-serif;
    color: #fff;
    background: #0056EC;
    padding: 14px 25px 13px 16px;
    width: 168px;
    height: 17px;
    text-decoration: none;
    border-radius: 4px;
    transition: opacity .5s;
  }

  .main__button:hover {
    opacity: .5;
  }

  .hamburger-menu {
    display: none;
  }

  .circles {
    display: flex;
    justify-content: center;
    margin-top: 88px;
  }

@media (max-width: 768px) {
  .wrapper {
    width: 87%;
  }

  .menu, .logo__name {
    display: none;
  }

  .header {
    margin-bottom: 28px;

  }

  .logo {
    padding: 40px 0;
    padding-top: 36px;
  }

  .hamburger-menu {
    display: block;
  }

  .main {
    margin-top: -17px;
    text-align: center;
    padding: 75% 0;
    background-size: 86%;
    background-position: top center;
  }
  .main__title {
    margin: 16px 0 34px 33px;
    font: 700 30px/39px 'pt_serif', arial, helvetica, sans-serif;
    width: 81.84%;
  }

  .main__title-text_highlight {
    background: #ECF3FF;
  }

  .main__subtitle {
    margin: 0 0 25px 28px;
    font: 500 16px/19px 'Roboto', arial, helvetica, sans-serif;
    width: 84.29%;

  }

  .main__button {
    font: 500 14px/16px 'Roboto', arial, helvetica, sans-serif;
    color: #fff;
    background: #0056EC;
    padding: 14px 25px 13px 16px;
    text-decoration: none;
    border-radius: 4px;
    transition: opacity .5s;
  }
}
