.wrapper {
  margin: auto;
  width: 80%;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.logo {
  position: relative;
  padding: 40px 0;
  padding-left: 44px;
  font: 700 24px/32px 'pt_serif', arial, helvetica, sans-serif;
}

.logo__circle {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  opacity: .7;
}

.logo__circle_color_dark-blue {
  background: #0056EC;
}

.logo__circle_color_blue {
  left: 8px;
  top: 56%;
  background: #C8DBFB;
}

.logo, .menu {
  display: inline-block;
}

.menu {
  display: flex;
  align-items: center;
}

.menu__item {
  position: relative;
  margin-right: 26px;
  font: 500 14px/16px 'Roboto', arial, helvetica, sans-serif;
  color: #000;
  text-decoration: none;
  transition: opacity .5s;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__item:after {
  position: absolute;
  left: 0;
  display: block;
  content: '';
  width: 0;
  height: 3px;
  background: #0056EC;
  margin-right: 26px;
  opacity: 0;
  transition: opacity .5s, width .5s;
}

.menu__item:hover {
  opacity: 0.5;
}

.menu__item:hover:after,.menu__item_active:after {
  opacity: 1;
  width: 100%;
}

.main {
  padding: 0 63% 100px 0;
  background: top right no-repeat url(img/mainlmg.svg);
}

.main__title {
  margin-bottom: 0 0 40px 0;
  font: 700 50px/66px 'pt_serif', arial, helvetica, sans-serif;
}

.main__title-text_highlight {
  background: #ECF3FF;
}

.main__subtitle {
  margin-bottom: 0 0 41px 0;
  font: 400 18px/21px 'Roboto', arial, helvetica, sans-serif;
}

.main__button {
  display: inline-block;
  font: 500 14px/16px 'Roboto', arial, helvetica, sans-serif;
  color: #fff;
  background: #0056EC;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 4px;
  transition: opacity .5s;
}

.main__button:hover {
  opacity: .5;
}
